<div class="container">
    <div class="shooping-basket">
        <i class="fas fa-shopping-basket"></i>
    </div>
    <div *ngIf="reservedHolidays.length > 0; else nothingReserved" class="reservedList">
        <ul>
            <li *ngFor="let holiday of reservedHolidays">
                <span class="firstColumn">{{holiday.name | uppercase}}</span> <span class="secondColumn">{{holiday.amount}}x</span> <span class="thirdColumn">{{holiday.price | currency: 'EUR'}}</span>
            </li>
        </ul>
        <div class="sum">
            <b>Suma:</b> {{sum | currency: 'EUR'}}
        </div>
    </div>
    <ng-template #nothingReserved>
        <p>Koszyk jest pusty</p>
    </ng-template>
</div>

 