*{
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

main{
    text-align: center;
    margin-top: 30px;
    width: 90%;
    margin: auto;
    background: #ddd;
}

figure{
    width:200px;
    border: 2px solid black;
    text-align: center;
    float: left;
    background: #bbb;
    margin: 50px 50px 50px 50px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);   
}

img{
    width: 150px;
    height: 150px;
}

figcaption{
    border-top: 2px solid black;
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    background: #fff;
    width: inherit;
}
