
<nav class="text-center">
    <a routerLink="homePage" class="btn btn-primary active m-3" role="button" routerLinkActive="active">Strona Główna</a>
    <a routerLink="posts" class="btn btn-primary active m-3" role="button" routerLinkActive="active">Posty</a>
    <a routerLink="addPost" class="btn btn-primary active m-3" role="button" routerLinkActive="active">Dodaj Post</a>
    <a routerLink="photos" class="btn btn-primary active m-3" role="button" routerLinkActive="active">Zdjęcia</a>
</nav>
<router-outlet></router-outlet>


