*{
    box-sizing: border-box;
}

main{
    width:100%;
    margin: auto;
}

/* 
To prevent layout shift during hover we declare specified width of elements
*/

/* Horizontal Navigation */

.row-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
}

.row-list li{
    width: 25%;
    border: 2px dashed #ddd;
    border-collapse: collapse;
    margin-left: -2px;
    background-color: #eee;
}

.row-list li a{
    width: 100%;
    padding: 7px 0px 7px 30px;
    display: inline-block;
    text-align: center;
}

.row-list li a:hover{
    font-weight: bold;
}

.row-list #glowna{
    background: url("images/home.png") no-repeat 5px 50%;
}

.row-list #glowna:hover{
    background: #6ef391 url("images/go.png") no-repeat 5px 50%;
}

.row-list #oferta{
    background: url("images/bg_here.png") no-repeat 5px 50%;
}

.row-list li{
    background:  url("images/link.png") no-repeat 5px 50%;
}

.row-list li:hover{
    background: #6ef391 url("images/go.png") no-repeat 5px 50%;
}
li a {
    font: normal 1.3vw Arial;
    text-transform: uppercase;
}

.row-list li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}


/* Vertical Navigation */
.column-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 24%;
}

.column-list a{
    width: 100%;
    padding: 7px 20px 7px 35px;
    text-decoration: none;
    color: black;
    font-size: 5vm;
}

.column-list li{
    padding: 7px 0;
    display: inline-block;
    border: 2px dashed #ddd;
    border-collapse: collapse;
    margin-top: -2px;
    background-color: #eee;
}

.column-list li a:hover{
    font-weight: bold;
}

.column-list #glowna{
    background: url("images/home.png") no-repeat 5px 50%;
}

.column-list #glowna:hover{
    background: #6ef391 url("images/go.png") no-repeat 5px 50%;
}

.column-list #oferta{
    background: url("images/bg_here.png") no-repeat 5px 50%;
}

.column-list li{
    background:  url("images/link.png") no-repeat 5px 50%;
}

.column-list li:hover{
    background: #6ef391 url("images/go.png") no-repeat 5px 50%;
}


