.container{
    display: block;
    width: 500px;
    margin: auto;
    padding: 50px;
    color: white;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color: white;
}