<main>
    <div class="brands">
      <ul>
        <h3>Dostępne marki:</h3>
        <li *ngFor="let brand of brands" (click)="chooseBrand($event, brand)">
          {{brand}}
        </li>
      </ul>
    </div>

    <div class="models">
      <ul *ngIf="isBrandChoosed; else brandNotChoosed" >
        <h3>Dostępne modele: </h3>
        <li *ngFor="let model of currentModels" (click)="chooseModel($event, model)">
          {{model}}
        </li>
      </ul>
      
      <ng-template #brandNotChoosed>
        <p>Choose brand!</p>
      </ng-template>
    </div>

    <div class="colors">
      <ul *ngIf="isModelChoosed; else modelNotChoosed" >
        <h3>Dostępne kolory: </h3>
        <li *ngFor="let color of currentColors" (click)="chooseColor($event, color)">
          <p class="colorName">Kolor: {{color}} </p>
          <div class="colorPallet" [style.background]="color"></div>
        </li>
      </ul>
      
      <ng-template #modelNotChoosed>
        <p>Choose model!</p>
      </ng-template>
    </div>
</main>

<div class="info" *ngIf="isColorChoosed">
  <p>Wybrałeś {{currentBrand}} {{currentModel}} w kolorze {{currentColor}}, Gratulacje! </p>
</div>