<div *ngIf="this.userName != null" class="email">
  {{this.userName}}
</div>
<div>
    <h1 class="display-1 text-center p-3">{{companyName}}</h1>
</div>

<nav #navbar class="navbar">
    <a *ngIf="this.userName != null" routerLink="holidaysOffer" class="btn btn-primary active m-3" role="button" routerLinkActive="active">Lista Wycieczek</a>
    <a *ngIf="this.userName != null" routerLink="trolley" class="btn btn-primary active m-3" role="button" routerLinkActive="active">Koszyk</a>
    <a *ngIf="this.userName != null && this.userRole >= 3" routerLink="form" class="btn btn-primary active m-3" role="button" routerLinkActive="active">Dodaj Wycieczke</a>
    <a *ngIf="this.userRole >= 4" routerLink="adminPanel" class="btn btn-primary active m-3" role="button" routerLinkActive="active">Panel Admina</a>
    <a *ngIf="this.userName != null" (click)="signOut()" class="btn btn-primary active m-3" role="button" routerLinkActive="active">Wyloguj się</a>
</nav>
<div class="container">
  <div class="bottom-row">
    <router-outlet></router-outlet>
  </div>
</div>



