<div>
    <h1 class="display-1 text-center p-3 font-weight-bold">{{companyName}}</h1>
</div>

<nav class="text-center">
    <a routerLink="holidaysOffer" class="btn btn-primary active m-3" role="button" routerLinkActive="active">Lista Wycieczek</a>
    <a routerLink="trolley" class="btn btn-primary active m-3" role="button" routerLinkActive="active">Koszyk</a>
    <a routerLink="form" class="btn btn-primary active m-3" role="button" routerLinkActive="active">Dodaj Wycieczke</a>
</nav>
<div class="bottom-row">
    <router-outlet></router-outlet>
</div>


