<div class="container">
    <h1>Rejestracja</h1>
    <form [formGroup]="userData" (ngSubmit)="signUp()">
        <div class="form-group">
            <label>Nazwa uzytkownika</label>
            <input type="text" class="form-control" formControlName="userName">
        </div>
        <div class="form-group">
            <label>E-mail</label>
            <input type="text" class="form-control" formControlName="eMail">
        </div>
        <div class="form-group">
            <label>Hasło</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <!-- TO DO -->
        <!-- <div class="form-group">
            <label>Powtórz hasło</label>
            <input type="text" class="form-control" formControlName="password">
        </div> -->
        <div class="buttons">
            <button type="submit" [disabled]="!userData.valid" class="btn btn-primary">Zarejestruj się</button>
            <a routerLink="/logging" role="button" routerLinkActive="active">Wróć do logowania</a>
        </div>
    </form>
</div>