/* General CSS */
*{
    box-sizing: border-box;
}
main{
    width: 70%;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
}

hr{
    margin: 20px;
}

/* First Table */
.table1, .table1 th, .table1 td{
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}

.table1{
    background: #aebdd6;
    table-layout: fixed; 
    width: 75%;
    margin: auto;
}


.table1 tr:nth-child(even){
    background: #99b4e0;
}

.table1 th{
    background: #4c76b5;
    border-bottom: 3px solid white;
}

/* Second Table */
.table2, .table2 th, .table2 td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.table2{
    background: #abadb0;
    table-layout: fixed; 
    width: 75%;
    margin: auto;
}

.table2 th{
    background: #594c3f;
}

/* Text/Img Section */
img{
    height: 150px;
    width: 100px;
    margin: 10px;
}

#left-spongebob{
    float: left;
}

p .description{
    clear: right;
}

#right-spongebob{
    float:right;
}

