<div class="container">
    <h1>
        Filtry
    </h1>
    <div class="container2">
        <div class="locations">
            <h3>Lokalizacja:</h3>
            <div *ngFor="let location of locations">
                <input type="checkbox" name={{location}} (change)="updateLocations($event)">
                <label> &nbsp; {{location | titlecase}}</label>
            </div>
            <hr>
        </div>
        
        <div class="stars">
            <h3>Ilość gwiazdek</h3>
            <div *ngFor="let star of stars">
                <input type="checkbox" name={{star}} (change)= "updateStars($event)">
                <label> &nbsp; {{star}}</label>
            </div>
            <hr>
        </div>

        <div class="prices">
            <h3>Cena</h3>
            <ngx-slider [(value)]="priceRangeMin"
                [(highValue)]="priceRangeMax"
                [options]="options"
                (userChange)="onUserChange($event)">
            </ngx-slider>
            <hr>
        </div>
        
        <!-- <h3>Data</h3>
        <label>Od &nbsp;</label>
        <input type="text" placeholder='{{dateRangeMin | date: "longDate" }}' onfocus="(this.type='date')"> 
        <br>
        <label>Do &nbsp;</label>
        <input type="text" placeholder='{{dateRangeMax | date: "longDate" }}' onfocus="(this.type='date')">  -->
    </div>
</div>

