*{
    box-sizing: border-box;
}

body{
    color: white;
}

.topNav{
  position: relative;
  background-color: black;
  overflow: hidden;
}

.nav{
    width: 70vw;
    float: right;
}

.nav a{
    height: 15vh;
    text-align: center;
    font-size: 2vh;
    width: 14vw;
    color: white;
    padding: 6vh 1.4vw;
    float: left;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.logo{
    height: 15vh;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-left: 30px;
    font-size: 2.8vh;
    font-weight: bold;
    text-transform: uppercase;
}

.icon{
    height: 15vh;
    display: none;
    text-align: center;
    font-size: 3.3vh;
    width: 12vw;
    color: white;
    padding: 6vh 2.5vw;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
}

/* Add functionality */
.nav a.active{
    background: green;
    font-weight: bold;
}

.nav a:hover, .icon:hover{
    background-color: gray !important; 
    color: black !important;
}

@media screen and (max-width: 768px){

    .nav a{
        display: none;
        height: auto;
    }

    /* .logo{
        visibility: hidden;
    } */

    .logo{
        height: 10vh;
        display: block;
        text-align: left;
    }

    a.icon{
        height: 15vh;
        display: block;
        float: right;
        position: absolute;
        right: 0%;
        top:0%;
        transform: translate(-0%, -0%);
    }
    
}

@media screen and (max-width: 768px){
    .nav.open a{
        float: none;
        display: block;
        width: auto;
        text-align: center;
        font-size: 2.5vh;
    }
    .nav.open{
        float: none;
        width: auto;
    }
}

