body {
	font-family: Tahoma, "Lucida Grande", Arial, sans-serif;
	font-size: 100%;
	width: 100%;
	height: 100%;
}
h1 {
	font-size: 3.6em;
	margin-left: 20px;
	margin-bottom: 0;
}
h2 {
	font-size: 2.4em;
	color: black;
}
h3 {
	font-size: 2em;
	color: black;
}
p, ul, ol {
	font-size: 1.2em;
	line-height: 130%;
}

ul {
	color: black;
	list-style: square;
}

hr {
	margin-top: 0;
    height: 1px;
    color: teal;
    background-color: teal;
    border: none;
}

.special-hr {
    height: 1px;
    color: #ddd;
    background-color: #ddd;
    border: none;
}

/* My Edition */

html{
	background-color: #ddd;
	width: 100%;
}

.back{
	padding-top: 20px;
	background: white;
	width: 98%;
	margin: auto;
}

.centrum
{
	/* Beacouse marings in .title doesnt work */
	padding-top: 10px;
	background: #e1f2e6;
	width: 80%;
	margin:auto;
}

.title{
	/* Margins doesnt work */
	border-top: 2px solid yellow;
	border-bottom: 2px solid yellow;
	margin-top: 10px;
	font-family: serif;
	padding: 7px 0;
	color: white;
	background: #104b4d;
}

.list{
	list-style-type: disc;
}

.list-div{
	border-top: 2px solid yellow;
	background-color: wheat;
	float: right;
	width: 30%;
	margin: 10px;
}

.list-div h3{
	text-align: center;
}

main{
	padding: 20px;
}