main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vm;
    margin: auto;
}

.grid-container{
    margin-top: 100px;
    width: 95vw;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-gap: 3vw;
}

picture{
 text-align: center;
}

h1{
    display: inline;
}

/* img{
    max-width: 30vw;
    height: auto;
} */

img{
    width:30vw;
    height: 30vh;
}

/* Changing h1 From CSS */
h1::before{
    position: absolute; /* Needed! */
    top:5%;
    left:45%;
    content: "London";
}

@media screen and (max-width: 1280px){
    .grid-container{
        grid-template-columns: auto auto auto;
    }



    /* Changing h1 From CSS */
    h1:before {
        position: absolute;
        top:5%;
        left:45%;
        content:'Paris';
    } 

    img{
        width:30vw;
        height: 30vh;
    }

    /* img{
        max-width: 330px;
        height: auto;
    } */
}

@media screen and (max-width: 1024px){
    .grid-container{
        grid-template-columns: auto auto;
    }

    img{
        max-width: 350px;
        height: auto;
    }

    img{
        width:45vw;
        height: 45vh;
    }

    /* Changing h1 From CSS */
    h1:before {
        position: absolute;
        top:5%;
        left:45%;
        content:'Berlin';
    } 
}

@media screen and (max-width: 768px){
    .grid-container{
        grid-template-columns: auto auto;
    }

    /* img{
        max-width: 250px;
        height: auto;
    } */

    img{
        width:45vw;
        height: 45vh;
    }

    /* Changing h1 From CSS */
    h1:before {
        position: absolute;
        top:5%;
        left:40%;
        content:'New York';
    } 
}

@media screen and (max-width: 550px){
    .grid-container{
        grid-template-columns: auto;
    }

    /* img{
        width: 90vw;
    } */

    img{
        width:90vw;
    }

    /* Changing h1 From CSS */
    h1:before {
        position: absolute;
        top:5%;
        left:35%;
        content:'Rio De Janeiro';
    } 
}