main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vm;
    margin: auto;
}

.grid-container{
    margin-top: 100px;
    width: 95vw;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-gap: 25px;
}

picture{
 text-align: center;
}

h1{
    display: inline;
}
/* Changing h1 From CSS */
h1::before{
    position: absolute; /* Needed! */
    top:5%;
    left:45%;
    content: "London";
}

img{
    width: 30vw;
    height: 30vw;
}

@media screen and (max-width: 1280px){
    .grid-container{
        grid-template-columns: auto auto auto;
    }

    pidct

    img{
        width: 30vw;
        height: 30vw;
    }

    /* Changing h1 From CSS */
    h1:before {
        position: absolute;
        top:5%;
        left:45%;
        content:'Paris';
    } 
}

@media screen and (max-width: 1024px){
    .grid-container{
        grid-template-columns: auto auto;
    }

   img{
    width: 45vw;
    height: 45vw;
}

    /* Changing h1 From CSS */
    h1:before {
        position: absolute;
        top:5%;
        left:45%;
        content:'Berlin';
    } 
}

@media screen and (max-width: 768px){
    .grid-container{
        grid-template-columns: auto auto;
    }

    img{
        width: 45vw;
        height: 45vw;
    }

    /* Changing h1 From CSS */
    h1:before {
        position: absolute;
        top:5%;
        left:40%;
        content:'New York';
    } 
}

@media screen and (max-width: 550px){
    .grid-container{
        grid-template-columns: auto;
    }

    img{
        width: 90vw;
    }

    /* Changing h1 From CSS */
    h1:before {
        position: absolute;
        top:5%;
        left:35%;
        content:'Rio De Janeiro';
    } 
}